.scroll-wrapper {
    .card {
        min-width: 300px;
        min-height: 300px;
        margin-right: 10px;
    }
  }

  .horizontal-scroll {
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: slategrey;
  }

  .wrapper {
    max-width: 1200px;
    position: relative;
  }

  .wrapper .chevron {
    z-index: 20;
    top: 50%;
    height: 46px;
    width: 46px;
    position: absolute;
    text-align: center;
    line-height: 46px;
    background-color: white;
    border-radius: 50%;
    font-size: 14px;
    transform: translateY(-50%);
  }

  .wrapper .chevron:first-child {
    left: -23px;
    display: none
  }

  .wrapper .chevron:last-child {
    right: -23px;
  }

  .wrapper .carousel  {
    white-space: nowrap;
    overflow: hidden;
    font-size: 0px;
    cursor: pointer;
    scroll-behavior: smooth;
  }

  .carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
  }

  .carousel.dragging img{
    pointer-events: none;
  }

  .carousel .img {
    height: 340px;
    object-fit: cover;
    margin-left: 14px;
    width: calc(100% / 3);
  }

  .carousel img:first-child {
    margin-left: 0px;
  }

  @media screen and (max-width: 900px){
    .carousel img{
        width: calc(100% /2);
    }
  }

  @media screen and (max-width: 550px){
    .carousel img{
        width: 100%;
    }
  }